.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
h1 {
    margin-left: 40%;
}
.first-day {
    grid-column-start: 6;
}

.calender-wrapper {
    width: 60%;
}

.calender {
    list-style: none;
}
.calender li {
    padding: 10px;
    text-align: center;
}
.calender .weekday {
    background: var(--seasonal-bgdark);
}
.first-day, .last-day {
    background: var(--seasonal-bg);
    border-radius: 60%;
    border: 1px solid var(--seasonal-hldark);
    color: var(--seasonal-hldark);
}